.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: #f5f5f5;
  min-height: 32px;
  &:hover {
    background: #ddd;
  }
}
