.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  min-height: 32px;
  background: var(--divider);
  & img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    filter: brightness(1.1);
  }
  &:disabled {
    & * {
      opacity: 0.3;
    }
  }
}
