.fixedContent {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  background-color: var(--background-paper);

  &__row {
    display: grid;
    width: 100%;
    &__column {
      text-align: center;
      border-left: 1px solid var(--divider);
      border-bottom: 1px solid var(--divider);
      &:hover {
        background-color: var(--divider);
      }
    }
  }
}
