.fixedContent {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
}

/* 全体のカレンダーコンテナ */
.calendar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1px; /* セル間のスペース */
  background-color: #ccc;
  width: 100%;
  padding-top: 80px;
}

/* 各日の列 */
.day_column {
  display: grid;
  background-color: #fff;
}

/* 各時間のセル */
.time_cell {
  position: relative;
  cursor: pointer;
  text-align: center;

  &.drawLine {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e0e0e0;
    }
  }

  &:hover {
    background-color: #f0f0f0;
  }
  &.selected {
    &:hover {
      background: initial;
    }
  }

  /* ドラッグで選択中のセルをハイライト */
  & .selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.3); /* ハイライトの色 */
    border: 1px solid #2196f3; /* ハイライトの境界線 */
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-drag: none;
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #2196f3;
    }
  }

  &.time_label {
    cursor: default;
    position: relative;
    &::after {
      display: none;
    }
    &:hover {
      background-color: initial;
    }
    & p {
      position: absolute;
      top: -9px;
      right: 4px;
      font-size: 12px;
    }
  }
}

/* イベントのスタイル */
.event {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  width: 90%;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 100;
  &:hover {
    background-color: #1d77c1;
  }
}
