.timeLabel {
  position: relative;

  & > p {
    position: absolute;
    top: -9px;
    right: 4px;
    font-size: 12px;
    color: var(--color-secondary);

    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-drag: none;
  }
}
