.timeLabel {
  cursor: default;
  position: relative;
  &::after {
    display: none;
  }
  &:hover {
    background-color: initial;
  }
  & p {
    position: absolute;
    top: -9px;
    right: 4px;
    font-size: 12px;
    color: var(--color-secondary);
  }
}
