.loadingWithMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;

  &__bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--divider);
    display: flex;
    align-items: flex-end;
    padding: 8px;

    &__image {
      position: relative;
      width: 60px;
      height: 60px;
      margin: 4px;
      animation: rotate 1.5s infinite;
      & img {
        position: absolute;
        width: 30px;
        height: 30px;
        animation: rotate_reverse 1.5s infinite;
        &:last-child {
          bottom: 0;
          right: 0;
        }
      }
    }

    &__message {
      margin: 4px;
      font-size: 16px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
